Package: bpx-blockchain-cli
Version: {{ BPX_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: BPX Network <hello@bpxchain.cc>
Description: BPX Blockchain
 BPX is an EVM-compatible blockchain using a Proof of Space and Time consensus.
